.error-msg {
  color: red;
  text-align: center;
  font-size: 18px;
}

.am-tab-bar{  /*使导航始终在底部*/
  position: fixed;
  bottom: 0;
  width: 100%;
  height: inherit !important;
  /*包裹内容*/
}

.stick-top { /*固定在顶部*/
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}

/*消息文本居右*/
#chat-page .chat-me .am-list-extra {
  flex-basis: auto; /*宽度包裹内容*/
}
#chat-page .chat-me .am-list-content {
  padding-right: 15px;
  text-align: right;
}


.tabbar{
  background-color: white;
}

.messageItem{
  font-size: 14px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;

}
.message1{
  background-color: #cbcbcb;
  /*background-color: #fff;*/

}

.message2{
  background-color: #1DA57A;
}

.myThemeColor{
  background-color: #1DA57A !important;
}

.myThemeColor:hover{
  background-color: #1DA57A !important;
}

.navfooterTextColor{
  color: #1DA57A !important;
}


